/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
 
 .right {
 	float: right;
 }
 
 .left {
 	float: left;
 }


.wkrf-setup {
	clear:both;
	border-top: 5%;
}

.wkrf-assoc-textfield{
	display: inline-block;
	float: right;
	clear: left;
}

.wkrf-assoc-icon {
	float: right;
	display:inline-block;
    vertical-align: center;
    border-top: 50px;
}

.wkrf-setup .wkrf-tag-form {
	border: 3px solid;	
	border-color: transparent;
}







